{% extends "musica/base.html" %}
{% load static %}
{% load humanize %}

{% block titulo %}Inicio{% endblock titulo %}

{% block contenido %}

    <!-- Page Content -->
    <!-- Banner Starts Here -->
      
    <div class="owl-banner owl-carousel">
        {% for categoria in categorias %}
            <div class="item">
                <a href="{% url 'musica:categoria' categoria.id %}">
                    <img src="{{ categoria.imagen.url }}" alt="">
                    <div class="item-content">
                        <div class="main-content">
                            <div class="meta-category">
                                <span>{{ categoria.nombre }}</span>
                            </div>
                            {% with articulo=articulos_por_categoria.categoria.id %}
                                {% if articulo %}
                                    <a href="{% url 'musica:detalle' articulo.url %}">
                                        <h4>{{ articulo.titulo }}</h4>
                                    </a>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <!-- Banner Ends Here -->




    <section class="blog-posts">
      <div class="container">
          <div class="row">
              <div class="col-lg-8">
                  <div class="all-blog-posts">
                      <div class="row">

                          <!-- Inicio Posts -->
                          
                    {% for articulo in articulos %}
                    <div class="col-lg-12">
                        <div class="blog-post">
                        <div class="blog-thumb">
                            <img src="{{ articulo.imagen_portada.url }}" alt="">
                        </div>
                        <div class="down-content">
                            <span>{{ articulo.categoria.nombre}}</span>
                            <a href="{% url "musica:detalle" articulo.url %}">
                            <h4>{{ articulo.titulo }}</h4>
                            </a>
                            <ul class="post-info">
                            <li><a href="{% url "musica:user" articulo.user %}">{{ articulo.user }}</a></li>
                            <li><a href="#">{{ articulo.fecha_publicacion|date:"M Y" }}</a></li>
                            </ul>
                            {{ articulo.resumen|safe }}
                            <div class="post-options">
                            <div class="row">
                                <div class="col-3">
                                <ul class="post-share">
                                    <li><i class="fa fa-share-alt"></i></li>
                                    <li><a href="#">Facebook</a></li>
                                </ul>
                                </div>
                                {% if user.is_authenticated %}
                                    {% if articulo.user|upper == user.username|upper or user.groups.all.0.name == 'Administrador' %}
                                    <div class="col-7">
                                        <ul class="post-share">
                                        <li><i class="fa fa-pencil"></i></li>
                                        <li><a href="{% url "musica:actualizar_articulo" articulo.url %}">Editar</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-2">
                                        <ul class="post-share">
                                        <li><i class="fa fa-trash"></i></li>
                                        <li><a href="{% url "musica:eliminar_articulo" articulo.url %}">Eliminar</a></li>
                                        </ul>
                                    </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                         
                          <!-- Fin Posts -->

                          <!-- Inicio Paginador -->
                          <div class="col-lg-12">  
                              <nav aria-label="...">
                                  <ul class="pagination justify-content-center">
                                      <li class="page-item"><a class="page-link" href="?page=1">Inicio</a></li>
                                      {% if page_obj.has_previous %}
                                          <li class="page-item">
                                              <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                                          </li>
                                      {% else %}
                                          <li class="page-item page-link disabled">Anterior</li>
                                      {% endif %}
                                      <li class="page-item page-link active">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</li>
                                      {% if page_obj.has_next %}
                                          <li class="page-item">
                                              <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                                          </li>
                                      {% else %}
                                          <li class="page-item disabled page-link">Siguiente</li>
                                      {% endif %}
                                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
                                  </ul>
                              </nav>
                          </div>
                          <!-- Fin Paginador -->

              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                 <!-- barra busqueda -->
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <form id="search_form" name="gs" method="GET" action="#">
                      <input type="text" name="q" class="searchText" placeholder="Buscar..." autocomplete="on">
                    </form>
                  </div>
                </div>
                 <!-- barra busqueda -->


               <div class="col-lg-12">
                <div class="sidebar-item recent-posts">
                  <div class="sidebar-heading">
                    <h2>Post Recientes</h2>
                  </div>
                  <div class="content">
                    <ul>

                      <!-- Inicio Posts reciente-->
                      {% for articulo in articulos %}
                        {% if forloop.counter <= 3 %}
                          <li>
                            <a href="{% url "musica:detalle" articulo.url %}">
                              <h5>{{ articulo.titulo }}</h5>
                              <span>{{ articulo.fecha_publicacion }}</span>
                            </a>
                          </li>
                        {% endif %}
                      {% endfor %}
                      <!-- Fin Posts reciente-->

                    </ul>
                  </div>
                </div>
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  
{% endblock contenido %} 