{% extends "musica/base.html" %}
{% load static %}

{% block titulo %}Nosotros{% endblock titulo %}

{% block contenido %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Nosotros</h4>
                <h2>Musica Ligera</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>  
    
    <!-- Banner Ends Here -->


    <section class="about-us">
      <div class="container">
      	
        <div class="row">
          <div class="col-lg-12">
            <img src="assets/images/about-us.jpg" alt="">
            <p>Somos el grupo 3 de la comision 3 y te contamos sobre nosotros.</p>
          </div>
        </div>
        
        
        
        <div class="row">
          <div class="col-lg-4 col-md-6">
          
          
        </div>
        
        
        <div class="row">
          <div class="col-lg-3 col-md-6">
          <h4>Guillermo Francisco Cabaña</h4>
          	<p>¡Hola, soy Guillermo! Pero prefiero que me digan Francisco. Tengo 24 años, vivo en Resistencia, Chaco; actualmente trabajo en call center y estudio licenciatura en psicología y también programación.</p>
          </div>
          <div class="col-lg-3 col-md-6">
          <h4>Claudia Réttori Lovera</h4>
          	<p>¡Hola a todo el mundo! Mi nombre es Claudia Réttori Lovera, tengo 36 años y actualmente soy empleada pública y estudio programación. Por cierto, vivo en Resistencia, Chaco.</p>
          </div>
          <div class="col-lg-3 col-md-6">
          <h4>Lucas Agustin Cuervo</h4>
          	<p>Me llamo Lucas Agustin Cuervo  me pueden llamar Lucas - vivo en resistencia en chaco - estudiante recibido. artista simple - calificado de ilustrador grafico amante del mate y las milanesas</p>
          </div>
          <div class="col-lg-3 col-md-6">
          <h4>Paulo Pescarolo</h4>
          	<p>Me llamo Paulo, soy mecánico y fanático de las series. Me gusta mucho aprender e investigar cómo funcionan las cosas.. sobre todo los motores y los sistemas. Esa curiosidad es la que me llevó a aprender sobre mecanica, electricidad, y ahora programación.Vivo en Resistencia, Chaco</p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        
        
      </div>
    </section>


{% endblock contenido %}